body {
  background-color: #00071D;
  font-family: Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}

select, button {
  font-family: inherit;
}

.logo img{
  width: 180px;
  height: 105px;
  padding:0px;
  top : -20px;
  left : 22px;
  position: relative;
}
.select-lang-box {
  position: absolute;
  top : 30px;
  right: 50px;
  width : 200px;
  height : 40px;
}

.select-lang-box .lang-selector {
  height: 30px;
  width: 120px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  border-radius: 6%;
  background-color: #0F1217;
  border-color: #2b344c;
  color : white;
  font-size: 16px;
  padding-left: 1em;
}

.sign-in {
  position: absolute;
  top : 0px;
  right : 0px;
}

.sign-in .sign-in-button {
  height: 30px;
  width : 72px;
  font-weight: bold;
  font-size:14px;
  color : white;
  background-color: red;
  border : none;
  border-radius : 8%;
}

.sign-in-button:hover{
  opacity: 0.8;
}

.bg-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #ac3131, #744b00, #3b4f14, #0d4733, #13393d);
    background-size: cover;
    border-radius: 3%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 1823px;
    height: 755px;
    left : 38px;
    right : 38px;
    top : -25px;
}

.line {
    display : inline-block;
    font-size: 5.5rem;
    color : white;
    font-weight: 800;
    position: absolute;
    top : 23%;
    left : 34%;
    transform: translate(-50%,-50%);
    padding: 10px;
}

.line-2 {
  display: inline-block;
  font-size: 2rem;
  color: white;
  font-weight: 700;
  position: absolute;
  top : 46%;
  left : 8.75%;
}

.line-3 {
  display: inline-block;
  font-size: 1.3rem;
  color: white;
  font-weight: 600;
  position: absolute;
  top : 56%;
  left : 8.75%;
}

.email-box input{
  font-family : inherit;
  font-weight: 500;
  font-size: 18px;
  background: #1A0F18;
  height: 50px;
  width : 375px;
  border-style: solid ;
  border-width: thin;
  border-radius: 3px;
  color: white;
  display : flex;
  position: absolute;
  margin-left: 198px;
  margin-top: -295px;
  padding-left: 15px
}

.email-box input:focus::placeholder
{
  font-size : 13px;
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}


.email-box input:not(:focus)::placeholder{
  transform : translateY(-0%);
  transition: 0.3s;
}

.get-started button{
  background:  #fa030c;
  border : none;
  border-radius: 3px;
  color : white;
  font-size : 25px;
  font-weight: 600;
  height : 52.5px;
  width: 205px;
  display: flex;
  position: absolute;
  margin-top : -295px;
  margin-left: 600px;
  padding-top: 7px;
  padding-left: 25px;
}

.get-started button:hover {
  opacity: 0.85;
}

.content .tv h1{
  font-size: 50px;
  font-weight: bolder;
  color : white;
  margin-left : 200px;
  margin-top : 200px;
}

.content .tv p {
  font-size: 20px;
  color : white;
  margin-left: 200px;
  margin-top : -15px;
  margin-bottom: 270px;
}

.content .tv img {
  display: flex;
  position: absolute;
  margin-left: 1000px;
  margin-top : -575px;
  transform: scale(1.15);
}

.content .devs h1 {
  font-size: 50px;
  font-weight: bolder;
  color: white;
  margin-left: 970px;
  margin-top: 450px;
}

.content .devs p {
  font-size: 20px;
  color: white;
  margin-left: 970px;
  margin-top: -15px;
}

.content .devs img {
  display: flex;
  position: absolute;
  margin-left : 240px;
  margin-top : -190px;
  transform: scale(1.15);
}

.content .kids h1 {
  font-size: 50px;
  font-weight: bolder;
  color: white;
  margin-left: 200px;
  margin-top: 400px;
}

.content .kids p {
  font-size: 20px;
  color: white;
  margin-left: 200px;
  margin-top: -15px;
  margin-bottom: 270px;
}

.content .kids img {
  display: flex;
  position: absolute;
  margin-left: 1000px;
  margin-top: -180px;
  transform: scale(1.15);
}

.content .download h1 {
  font-size: 50px;
  font-weight: bolder;
  color: white;
  margin-left: 970px;
  margin-top: 400px;
}

.content .download p {
  font-size: 20px;
  color: white;
  margin-left: 970px;
  margin-top: -15px;
}

.content .download img {
  display: flex;
  position: absolute;
  margin-left: 240px;
  margin-top: -190px;
  transform: scale(1.15);
}

.faq {
  margin-bottom: 20px;
}
.faq h1{
  color : white;
  font-size: 40px;
  margin-left: 200px;
  margin-top: 270px;
}

.faq-question  {
  display: flex;
  align-items: center;
  background-color: #132144;
  font-weight: normal;
  cursor: pointer;
  margin-left: 200px;
  font-size: 25px;
  margin-right: 200px;
  margin-top:10px;
  height: 90px;
  padding-left: 20px;
  transition: transform 0.8s ease;
}

.faq-question:hover{
  background-color: #283a68;
}

.faq-question a {
  text-decoration: none;
  color: white;
}

.faq-answer {
  color:white;
  display: none;
  padding: 10px;
  padding-left: 20px;
  font-size: 25px;
  background-color: #132144;
  margin-left: 200px;
  margin-top:2px;
  margin-right: 200px;
}

.faq-answer:target{
  display: block;
}


.bx-plus {
  color: white;
  font-size: 50px;
  position:absolute;
  right:0;
  padding-right: 240px;
  margin-top:-8px;
  transition: transform 0.3s ease;
}

.prefooter{
  color : white;
  font-size: 20px;
  margin-left: 200px;
  margin-top:25px
}

.email-box1 input {
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  background: #1A0F18;
  height: 50px;
  width: 375px;
  border-style: solid;
  border-width: thin;
  border-radius: 3px;
  color: white;
  display: flex;
  position: absolute;
  margin-left: 198px;
  margin-top: -295px;
  padding-left: 15px
}

.email-box1 input:focus::placeholder {
  font-size: 13px;
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}

.email-box1 input:not(:focus)::placeholder {
  transform: translateY(-0%);
  transition: 0.3s;
}

.get-started1 button {
  background: #fa030c;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 25px;
  font-weight: 600;
  height: 52.5px;
  width: 205px;
  display: flex;
  position: absolute;
  margin-top: -295px;
  margin-left: 600px;
  padding-top: 7px;
  padding-left: 25px;
}

.get-started1 button:hover {
  opacity: 0.85;
}

.prefooter .email-box1 {
  margin-top:320px;
  margin-left: -195px;
  margin-bottom: 20px;
}

.prefooter .get-started1{
  margin-left: -195px;
  margin-bottom: 20px;
}

.footer{
  color: #95B6B2;
  position: absolute;
  padding-left: 200px;
  padding-top: -30px;
}

.footer p{
  margin-top: -150px
}

.footer a{
  color:#95B6B2;
}

.tg{
  margin-top :-100px;
  padding-top : -100px;
  padding-left: 190px;
  margin-left : 190px;
  margin-right : 0px;
}

.tg-0lax a{
  color: white;
}

.tg {
  width: 70%;
  border-collapse: collapse;
}

.tg td, .tg th {
  padding: 7px;
  text-align: left;
  border: none;
}

.endlan{
  background-color: #0F1217;
  color: white;
  height: 30px;
  width: 120px;
  text-align: center;
  margin-left:190px;
  margin-top: 30px;
  font-size: 17px;
  border-radius: 7%;
}

.nf {
  color: white;
  margin-left: 190px;
  margin-top : 40px;
  margin-bottom: 100px;
  opacity: 0.5;
}